<h1>Let's see in details this magnificient restaurant</h1>

<li> <strong> Name: </strong> <%= @restaurant.name %> </li>
<li> <strong> Category: </strong> <%= @restaurant.category %> </li>
<li> <strong> Address: </strong> <%= @restaurant.address %> </li>
<li> <strong> Phone number: </strong> <%= @restaurant.phone_number %> </li>

<%= link_to "Back to main list", restaurants_path%>
